<ul class="space-y-6 pb-6 tracking-wide font-medium text-gray-600 lg:pb-0 lg:pr-6 lg:items-center lg:flex lg:space-y-0">
    <li>
        <a routerLink="/home" routerLinkActive="is-active" class="block md:px-3">
            <span>
                Home
            </span>
        </a>
    </li>
    <li>
        <a routerLink="/about" routerLinkActive="is-active" class="block md:px-3">
            <span>
                About
            </span>
        </a>
    </li>
    <li>
        <a routerLink="/explore" routerLinkActive="is-active"  class="block md:px-3">
            <span>
                Explore
            </span>
        </a>
    </li>
    <li class="w-full">
        <div class="relative w-full">
            <form method="get" action="https://blazed.city/search">
                <input required type="text" name="q" placeholder="Search..." class="p-3 px-5 border ml-0 lg:ml-5 w-full lg:w-auto" />
                <button type="submit" class="block w-7 h-7 text-center text-xl leading-0 absolute top-3 right-2 text-gray-400 hover:text-gray-900 transition-colors"><i class="mdi mdi-magnify"></i></button>
            </form>
        </div>
    </li>
</ul>
