h2 {
    margin: 4rem 0rem 2rem 0rem !important;
    border-bottom: solid 1px rgb(70, 150, 236);
}

h3 {
    margin: 3rem 0rem 1rem 0rem !important;
    padding: 0rem 0rem 0.5rem 0.5rem !important;
    border-left: solid 2px rgb(70, 150, 236);
}

body::-webkit-scrollbar{
    width:10px;
}

body::-webkit-scrollbar-track{
    background:#727a8a;
}

body::-webkit-scrollbar-thumb{
    background-color:#afb4bd;
    border-radius:20px;
    border:1px solid #5b626e;
}

body::-webkit-scrollbar-thumb:hover{
    background-color:#5b626e;
}