<article class="pt-20">
    <div class="dark:bg-gray-800 dark:text-gray-100">
        <h1 class="text-center text-3xl py-7 font-bold">
            Explore Blazed City
        </h1>
        <div class="container max-w-6xl p-6 mx-auto space-y-6 sm:space-y-12">
            <div class="grid justify-center grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
                <a rel="noopener noreferrer" href="#" class="max-w-sm mx-auto group hover:no-underline focus:no-underline dark:bg-gray-900">
                    <img role="presentation" class="object-cover w-full rounded h-44 dark:bg-gray-500" src="https://blazed.sirv.com/blazed.city/areas/area1.jpg">
                    <div class="p-6 space-y-2">
                        <h3 class="text-2xl font-semibold group-hover:underline group-focus:underline">
                            Banking & Finance
                        </h3>
                        <span class="text-md dark:text-gray-400">
                            Area 1
                        </span>
                        <p>
                            Discover the banking and finance hub of Blazed. Located here is the headquarters of Woodrow Financial, as well as the Blazed City Town Hall.
                            Shop for bank accounts, loans, and more.
                        </p>
                    </div>
                </a>
                <a rel="noopener noreferrer" href="#" class="max-w-sm mx-auto group hover:no-underline focus:no-underline dark:bg-gray-900">
                    <img role="presentation" class="object-cover w-full rounded h-44 dark:bg-gray-500" src="https://blazed.sirv.com/blazed.city/areas/area2.jpg">
                    <div class="p-6 space-y-2">
                        <h3 class="text-2xl font-semibold group-hover:underline group-focus:underline">
                            Shopping & Retail
                        </h3>
                        <span class="text-md dark:text-gray-400">
                            Area 2
                        </span>
                        <p>
                            Check out the retail hub of Blazed, full of excellent shops. You'll find everything you need and more in this retail hub.
                            Come shop with us!
                        </p>
                    </div>
                </a>
                <a rel="noopener noreferrer" href="#" class="max-w-sm mx-auto group hover:no-underline focus:no-underline dark:bg-gray-900">
                    <img role="presentation" class="object-cover w-full rounded h-44 dark:bg-gray-500" src="https://blazed.sirv.com/blazed.city/areas/area3.jpg">
                    <div class="p-6 space-y-2">
                        <h3 class="text-2xl font-semibold group-hover:underline group-focus:underline">
                            Upscale Residential
                        </h3>
                        <span class="text-md dark:text-gray-400">
                            Area 3
                        </span>
                        <p>
                            You'll never want to leave once you experience our luxury high-rises. Amazing apartments, great rates, and security for everyone.
                            What's not to love?
                        </p>
                    </div>
                </a>
                <a rel="noopener noreferrer" href="#" class="max-w-sm mx-auto group hover:no-underline focus:no-underline dark:bg-gray-900">
                    <img role="presentation" class="object-cover w-full rounded h-44 dark:bg-gray-500" src="https://blazed.sirv.com/blazed.city/areas/area4.jpg">
                    <div class="p-6 space-y-2">
                        <h3 class="text-2xl font-semibold group-hover:underline group-focus:underline">
                            Logistics
                        </h3>
                        <span class="text-md dark:text-gray-400">
                            Area 4
                        </span>
                        <p>
                            Check out the logistics hub of Blazed, this area is full of transport companies, freight services, and logistics companies.
                            We can take you there. 
                        </p>
                    </div>
                </a>
                <a rel="noopener noreferrer" href="#" class="max-w-sm mx-auto group hover:no-underline focus:no-underline dark:bg-gray-900">
                    <img role="presentation" class="object-cover w-full rounded h-44 dark:bg-gray-500" src="https://blazed.sirv.com/blazed.city/areas/area5.jpg">
                    <div class="p-6 space-y-2">
                        <h3 class="text-2xl font-semibold group-hover:underline group-focus:underline">
                            Offices
                        </h3>
                        <span class="text-md dark:text-gray-400">
                            Area 5
                        </span>
                        <p>
                            Start your business here! We offer great startup benefits to help you get going.
                            We will help your business take off!
                        </p>
                    </div>
                </a>
                <a rel="noopener noreferrer" href="#" class="max-w-sm mx-auto group hover:no-underline focus:no-underline dark:bg-gray-900">
                    <img role="presentation" class="object-cover w-full rounded h-44 dark:bg-gray-500" src="https://blazed.sirv.com/blazed.city/areas/area6.jpg">
                    <div class="p-6 space-y-2">
                        <h3 class="text-2xl font-semibold group-hover:underline group-focus:underline">
                            Industrial
                        </h3>
                        <span class="text-md dark:text-gray-400">
                            Area 6
                        </span>
                        <p>
                            Discover the industrial hub of Blazed! At area 6, we make stuff and make stuff happen.
                            If you can dream it -- its made in area 6.
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</article>